<div class="jumbotron">
    <h1>SAPA</h1>
    <p class="lead">SAPA API</p>    
</div>
<div class="row">
    <div class="col-md-4">
        <a href="~/api/receiver" title="Url der bruges til modtagelse af journalnoter">Modtagelse af journalnoter</a>
    </div>
    <br />
    <div class="col-md-4">
        <a href="~/api/messagedistributor" title="Url der bruges til udveksling af beskeder">Beskedfordeler</a>
    </div>
    <br /><br />
</div>
